h1 {
    text-align: center;
    font-family: 'Satisfy', cursive;
} 

h2 {
    text-align: center;
    font-family: 'Satisfy', cursive;
}

h3 {
    text-align: center;
    font-family: 'Satisfy', cursive;
    padding: 15px 4px 8px 4px;
}

h4 {
    text-align: center;
    font-family: 'Satisfy', cursive;
    padding: 15px 4px 8px 4px;
}

h5 {
    font-family: 'Satisfy', cursive;
}

p {
    text-indent: 50px
}


